body {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  font-family: "Smooch Sans", sans-serif;

  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    text-align: center;

    & .heroTitle {
      font-size: var(--medium-spacing);
      margin-bottom: var(--small-spacing);
    }

    & .buttons {
      display: flex;
      justify-content: center;
      gap: var(--small-spacing);

      & .button {
        color: var(--primary-dark);
        padding: 0.5rem 1rem;
        border: 2px solid var(--primary-dark);
        border-radius: var(--small-spacing);
        cursor: pointer;
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: var(--medium-font-weight);

        &:hover {
          background-color: var(--primary-dark);
          color: var(--primary-color);
          padding: 0.7rem 1.5rem;
        }
      }
    }

    & .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      border-top: 1px solid var(--primary-dark);
    }
  }
}
