.tutorialTitle {
  font-size: var(--large-spacing);
  text-align: center;
  margin-bottom: var(--medium-spacing);
}

.infoBlock {
  display: flex;
  flex-direction: column;
  max-width: 62rem;
  margin: 0 auto;
  border: 2px solid var(--primary-accent-color);
  background-color: var(--primary-light);
  border-radius: var(--small-spacing);
  padding: var(--medium-spacing);
  font-family: "Raleway", sans-serif;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: var(--medium-spacing);

  & .infoBlockTitle {
    font-size: var(--medium-spacing);
    border-bottom: 2px solid var(--primary-accent-color);
    margin-bottom: var(--small-spacing);
    font-family: "Smooch Sans", sans-serif;
    color: var(--primary-accent-color);
  }

  & .infoBlockList {
    padding-left: var(--medium-spacing);
    margin-bottom: 0.5rem;
  }

  & .infoBlockDisclaimer {
    font-size: 0.9rem;
    font-style: italic;
    padding-top: 0.3rem;
  }

  & .accentText {
    color: var(--primary-accent-color);
    font-weight: var(--medium-font-weight);
  }

  & .infoBlockLink {
    color: var(--primary-accent-color);
    text-decoration: none;
    font-weight: var(--medium-font-weight);

    &:hover {
      text-decoration: underline;
    }
  }

  & .infoBlockImage img {
    max-width: 100%;
    border-radius: var(--medium-spacing);
    margin-top: var(--medium-small-spacing);
    margin-bottom: var(--medium-small-spacing);
  }

  & .copyButton button {
    background-color: var(--primary-accent-color);
    color: var(--primary-light);
    border: none;
    border-radius: var(--small-spacing);
    font-weight: var(--medium-font-weight);
    cursor: pointer;

    &:hover {
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
    }

    &:active {
      transform: translateY(0);
    }
  }
}

 pre {
    background-color: #f0f0f0 !important;
    color: #333 !important;
    border: 2px solid #88c59f;
    border-radius: 4px;
    padding: 12px;
}

pre code {
    background-color: transparent !important;
    color: inherit !important;
}